<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            scroll-behavior: smooth;
            scrollbar-width: none;
            text-transform: uppercase;
            font-family: 'Arial', sans-serif;
        }

        .content {
            margin-top: 70px;
            height: calc(100dvh - 70px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            text-align: center;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #dc3545;
        }

        p {
            font-size: 1rem;
            color: #6c757d;
        }

        button {
            padding: 10px 40px;
            border: none;
            background-color: #28a745;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        button:hover {
            background-color: #218838;
            transform: translateY(-2px);
        }

        button:focus {
            outline: none;
        }

        .redirecting-text {
            font-size: 0.9rem;
            color: #007bff;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="content">
        <h3>Unexpected error occurred, please retry again</h3>
        <p class="redirecting-text">Redirecting ...</p>
        <a href="/"><button>Go to Home</button></a>
    </div>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script>
        setTimeout(() => {
            window.location.href = window.location.origin
        }, 2000);
    </script>
</body>

</html>
